/*menu nav variables*/
$fondo-nav: rgb(97, 1, 1);
$fuente:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
$fontTamaño:1rem;
$fontColor:white;
$fontWeight:600;
$fontTamañoParrafo:1.5rem;
$fontTamaño-titulos: 1.7rem;

/*variables del main*/
$fondo-main:black;
$fontTamañoParrafo-lista:1.2rem;
$vh:90vh;
$fondoGradiente:rgba(0, 0, 0, 0.485);
$hover:.4s;



