/*footer*/
.footer{
    padding: 0.3rem 2rem;
    padding-bottom: 0.5rem;
    background-color: rgb(20, 20, 20);
    color: $fontColor;
    font-family: $fuente;
    .footer__politicas{
        @include flex(flex,none,none,0,wrap,row);
        margin-top: 1rem;
        max-width: 95%;
        margin-left: auto;
        p{
            @include grow(1,0,100px);/*para nivelar varios padres flexs*/
        }
    }
    .footer__redes{
        @include flex(flex,space-between,none,0,nowrap,row);
        margin-top: .8rem;
        .footer__redes-container{
            @include flex(flex,none,none,2rem,nowrap,row);
        }
    }
}